{% extends "base.html" %} {% block title %} Home Page {% endblock %} {% block
content %}
<div class="d-flex align-middle p-3 mx-auto" stlye="width: 50%;
margin: 0 auto;">
  <div class="container pt-5" stlye="height:100%">
    <div class="card-deck" style="justify-content: center; align-items: center">
      <div class="homecontainer card text-center card border-info mb-3"  style="margin-left: 170px; width: 626px;">
        <form action="{{ url_for('handle_data') }}" method="post">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="job">Job</label>
            </div>
            <select class="custom-select" id="job" name="job">
              <option selected>Choose...</option>
              <option value="blue-collar">blue-collar</option>
              <option value="entrepreneur">entrepreneur</option>
              <option value="housemaid">housemaid</option>
              <option value="management">management</option>
              <option value="retired">retired</option>
              <option value="self-employed">self-employed</option>
              <option value="services">services</option>
              <option value="student">student</option>
              <option value="technician">technician</option>
              <option value="unemployed">unemployed</option>
              <option value="unknown">unknown</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="education">Education</label>
            </div>
            <select class="custom-select" id="education" name="education">
              <option selected>Choose...</option>
              <option value="primary">primary</option>
              <option value="secondary">secondary</option>
              <option value="tertiary">tertiary</option>
              <option value="unknown">unknown</option>
            </select>
          </div>

          <div class="form-group">
            <label for="age"><b>Age</b></label>
            <input type="number" class="form-control" id="age" name="age" placeholder="Age" />
          </div>

          <div class="form-group">
            <label for="balance"><b>Balance</b></label>
            <input type="number" class="form-control" id="balance" name="balance" placeholder="Balance" />
          </div>

          <div>
            <label><b>Default</b></label>
            <div style="margin-bottom: 1rem;">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="default" id="default1" value="yes" />
                <label class="form-check-label" for="default1"> Yes </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="default" id="default2" value="no" />
                <label class="form-check-label" for="default2"> No </label>
              </div>
            </div>
          </div>

          <div>
            <label><b>Housing</b></label>
            <div style="margin-bottom: 1rem;">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="housing" id="housing1" value="yes" />
                <label class="form-check-label" for="housing1"> Yes </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="housing" id="housing2" value="no" />
                <label class="form-check-label" for="housing2"> No </label>
              </div>
            </div>
          </div>

          <div>
            <label><b>Loan</b></label>
            <div style="margin-bottom: 1rem;">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="loan" id="loan1" value="yes" />
                <label class="form-check-label" for="loan1"> Yes </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="loan" id="loan2" value="no" />
                <label class="form-check-label" for="loan2"> No </label>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" style="margin-top: 1rem">
            Submit
          </button>
        </form>
      </div>
    </div>

    {% endblock %}
  </div>
</div>