{% extends "base.html" %} {% block title %} Home Page {% endblock %} {% block
content %}
<div class="d-flex align-middle p-3 mx-auto" stlye="height:144px; width:626px;">
  <div class="container pt-5" stlye="height:100%">
    <div class="card-deck">
      <div
        class="card text-center card border-info mb-3"
        style="width: 626px; height: auto"
      >
        <div class="card-body col">
          <h4 class="card-title">
            Please submit some details to identify the accurate results.
          </h4>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">Click on the button below to submit the form</p>
          <a href="{{url_for('form')}}" class="card-link"> Submit Form </a>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div
        class="card text-center card border-info mb-3"
        style="width: 18rem; height: auto"
      >
        <div class="card-body col">
          <h4 class="card-title">Output</h4>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">View the reconstructed Image</p>
          <a href="{{url_for('home')}}" class="card-link"> Click Here </a>
        </div>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
