{% extends "base.html" %} {% block title %} Output Page {% endblock %}
{% block content %}

<link href="../static/output.css" rel="stylesheet" type="text/css">

<div class="d-flex align-middle p-3 mx-auto" style="height:144px; width:626px;">
  <div class="container pt-5" stlye="height:100% justify-content: center" >
    <div class="card-deck">
      <div
        class="card text-center card border-info mb-3"
        style="width: 626px; height: auto"
      >
        <div class="card-body col">
          {% if pred==1 %}
            <div class="card-title mytext">
              The probability that the customer will buy the bank term deposit: {{prob}}
            </div>
          {% else %}
            <div class="card-title mytext">
              There are very less chances that the customer will buy the term deposit. It is advisable
              to ignore the customer.
            </div>
            {% endif %}


        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}